---
import { getCollection } from 'astro:content'
import Base from '@layouts/Base.astro'
import { Counter } from '@components/Counter'

const news = await getCollection('news')
---

<Base>
  <Counter client:load />
  <ul class="m-auto flex flex-col items-center space-y-2">
    {
      news.map((x) => (
        <li class="group w-full border-white hover:bg-base-200">
          <a href={x.data.link} class="flex items-center px-4 py-4">
            <div class="text-right text-2xl font-bold">
              {x.data.pubdate?.toLocaleString().slice(-8, -3)}
            </div>
            <div class="ml-4 pl-4 text-left text-2xl">{x.data.title}</div>
          </a>
        </li>
      ))
    }
  </ul>
</Base>
