---

---

<nav class="navbar bg-base-100 sticky top-0 z-50">
  <div class="navbar-start"></div>
  <div class="navbar-center space-x-4">
    <a href="/">Top</a>
    <a href="/posts">Posts</a>
    <a href="/news">News</a>
    <a href="/wikipedia">Wikipedia</a>
  </div>
  <div class="navbar-end"></div>
</nav>
