---

---

<nav
  class="flex justify-center gap-4 bg-white/90 py-4 backdrop-blur-sm dark:bg-slate-950/90"
>
  <a
    href="/"
    class="active:scale-98 rounded-lg px-4 py-2 font-medium text-slate-900 no-underline transition-all hover:bg-indigo-
100 hover:text-indigo-700 dark:text-slate-100 dark:hover:bg-indigo-800/20 dark:hover:text-indigo-300"
  >
    Top
  </a>
  <a
    href="/posts"
    class="active:scale-98 rounded-lg px-4 py-2 font-medium text-slate-900 no-underline transition-all hover:bg-indigo-
200 hover:text-indigo-800 dark:text-slate-100 dark:hover:bg-indigo-800/30 dark:hover:text-indigo-400"
  >
    Posts
  </a>
</nav>
