---
import './global.css'

import { ClientRouter } from 'astro:transitions'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
---

<html lang="jp" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link 255rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ClientRouter fallback="none" />
  </head>
  <body class="h-full">
    <div class="h-full flex flex-col items-center overflow-y-scroll">
      <Header />
      <main transition:animate="fade" class="grow w-full max-w-3xl p-4">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
